/* Container for the login/signup box */
.LoginSignUpContainer {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 85vh;
}

/* Login/Signup Box Styles */
.LoginSignUpBox {
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 8rem;
    border-radius: 8px;
    transition: all 0.5s ease;
    margin: auto;
    /* Center horizontally and vertically */
}

/* Tab Toggle Styles */
.login_signUp_toggle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.login_signUp_toggle p {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.login_signUp_toggle p:hover {
    color: #000;
}

.login_signUp_toggle p.active {
    color: #000;
    border-bottom: 2px solid #000;
}

/* Form Styles */
.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s ease;
}
.signUpForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s ease;}

/* Input Container Styles */
.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.circle-icon {
    width: 50px; /* Adjust the width and height to your desired size */
    height: 50px;
    border-radius: 50%; /* This makes the image circular */
    object-fit: cover; /* Ensures the image covers the circular space */
    border: 2px solid #fff; /* Add a border to the circle */
    margin-right: 10px; /* Add some spacing between the image and input */
  }


/* Icon Styles */
.inputIcon {
    position: absolute;
    left: 10px;
    /* Adjust the left position as needed */
    color: #000000;
    /* Icon color */
}

/* Input Field Styles */
.loginForm input {

    width: 26rem;
    padding: 6%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    padding-left: 40px;
    font-size: 12px;
    /* Increase the text size to your preferred value */
    /* Add padding for the icon */
}

/* Input Focus Styles */
.loginForm input:focus {
    outline: none;
    border: 1px solid #000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.headingStyle {
    font-size: 24px;
    /* Increase the font size */
    color: #000;
    /* Text color */
    margin-bottom: 20px;
    /* Add some space below the heading */
    text-align: left;
    /* Center the text horizontally */
    font-weight: 600;

}

/* Button Styles */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Text Styles */
.headerText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Shopping Cart Icon Styles */
.cartIcon {
    font-size: 1;
    /* Adjust the icon size as needed */
}

.my-link {
    cursor: pointer;
    color: #007BFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    font-size: 150%;
    transition: color 0.3s;
    color: black;

}

.my-link:hover {
    color: #0056b3;
}

.loginForm .loginBtn {
    width: 100%;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #000;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginForm .loginBtn:hover {
    background-color: #333;
}

/* Icon color on input focus */
.inputContainer:focus-within .inputIcon {
    color: #000;
    /* Icon color on focus */
}

/* Forgot Password Link Styles */
.loginForm a {
    text-align: right;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    margin-top: 10px;
}

/* Adjustments for small screens */
@media (max-width: 768px) {
    .LoginSignUpBox {
        width: 90%;
    }
}